

* {


box-sizing: border-box;


}



body {


    background-color:#274471  ;
    font-family: 'Lato', sans-serif;
    
}

.container 

{

    border: 1px solid;
    border-color: grey;
    background-color: rgb(243, 243, 243);
    width: 400px;
    margin: 30% auto;
    border-radius: 6px;
    padding: 25px;
    position: center;
  

}






.button 

{
    background-color: #1ac0f3;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding: 14px 20px;
    cursor: pointer;
    border-radius:5px;
    border-color: rgb(255, 255, 255);
    color: white;
  }

  .message {


    color: azure;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius:5px;
    border-color: rgb(255, 255, 255);
  }

  .email

  {


    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius:5px;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);

  }

  .surname

  {

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius:5px;
    border-color: rgb(255, 255, 255);


  }

  .first 

  {

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius:5px;
    border-color: rgb(255, 255, 255);
    



  }


  
  .message:hover {
    background-color: rgba(181, 214, 252, 0.493);
    border: 1px rgba(91, 168, 255, 0.493)d;
  }

  .first:hover {
    background-color: rgba(181, 214, 252, 0.493);
    border: 1px rgba(91, 168, 255, 0.493)d;
  }

  .surname:hover {
    background-color: rgba(181, 214, 252, 0.493);
    border: 1px rgba(91, 168, 255, 0.493)d;
  }

  .email:hover {
    background-color: rgba(181, 214, 252, 0.493);
    border: 1px rgba(91, 168, 255, 0.493)d;
  }